		
		body	{background-color: #F0F0F0;}
		p1 {color: #000000;
		font-size:300%;
			}
		p2 {color: #000000;
		font-size:300%;
			}
		p3 {color: #000000;
		font-size:154%;
			}
		p4 {color:#000000; 
		font-size: 350%;
			}
		p5 {color:
		font-size:400%;
		}
		
		hr { display: block;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			margin-left: auto;
			margin-right: auto;
			border-style: inset;
			border-width: 3px;
			border-color: #000000;}
		
		.borders {border-width: 3px;
				   border-color: #000000;
				   }

		/*body {text-align:center
			/*background-image: url("elegantbackground.png")
			}
